{% extends 'layout.html' %}

{% block title %}
    Posts
{% endblock %}

{% block content %}
    <div class="posts">
        {% for post in posts %}
            <div class="post" style="border: 2px solid white; margin: 5px 0; padding: 10px;">
                <h1><a href="{% url 'posts:post' slug=post.slug %}">{{ post.title }}</a></h1>
                <h3 style="text-align: start;">by: {{ post.username }}</h3>
                <h6 style="text-align: start;">on: {{ post.date }}</h6> <hr/>
                <p style="margin-top: 5px;">{{ post.text }}</p>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}