<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>
<body>
    {% for post in posts %}
        <h1><a href="{% url 'posts:single' slug=post.slug %}">
            {{ post.title }}
        </a></h1>
        <div class="info" style="display: flex; justify-content: space-between; padding: 10px;">
            <h3>{{ post.username }}</h3>
            <h4>{{ post.date }}</h4>
        </div>
        <p>{{ post.body }}</p>
        <hr>
    {% endfor %}
</body>
</html>