<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
    <div class="info" style="display: flex; justify-content: space-between; padding: 10px;">
        <h3>{{ post.username }}</h3>
        <h4>{{ post.date }}</h4>
    </div>
    <p>{{ post.body }}</p>
    <img src="{{ post.image.url }}" alt="{{ post.title }}" width="300px">
    <p><a href="{% url 'posts:list' %}">Back</a></p>
</body>
</html>